Flask
flask-sqlalchemy
virtualenv
uuid
sqlalchemy
Flask-Session
werkzeug
Flask-Login
flasgger
blinker
cachelib
click
colorama
distlib
filelock
greenlet
gunicorn
itsdangerous
Jinja2
MarkupSafe
msgspec
waitress
packaging
platformdirs
typing_extensions