{% extends "base.html" %} {% block title %}Single Subject{% endblock %} {% block
content %}{% include "admin/admin_wrapper.html" %}
<section class="p-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
      <li class="breadcrumb-item">
        <a href="/admin/subject/?skip=0&take=25">Subjects List</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {% if sub %}{{ sub.code }}{% else %} {% endif %}
      </li>
    </ol>
  </nav>
  <div class="border p-3">
    <div class="row">
      <p class="col-12 col-sm-6">
        <strong>Subject Name:</strong> {% if sub %}{{ sub.name }}{% else %}N/a{%
        endif %}
      </p>
      <p class="col-12 col-sm-6">
        <strong>Subject Description:</strong> {% if sub %}{{ sub.description
        }}{% else %}N/a{% endif %}
      </p>
    </div>
    <div class="row">
      <p class="col-12 col-sm-6">
        <strong>Subject Code:</strong> {% if sub %}{{ sub.code }}{% else %}N/a{%
        endif %}
      </p>
      <p class="col-12 col-sm-6">
        <strong>Last Updated At:</strong> {% if sub %}{{ sub.updated_at }}{%
        else %}N/a{% endif %}
      </p>
    </div>
    <div class="row">
      <p class="col-12 col-sm-6">
        <strong>Created At:</strong> {% if sub %}{{ sub.created_at }}{% else
        %}N/a{% endif %}
      </p>
    </div>
  </div>
  <div class="d-flex mt-3 flex-wrap justify-content-between">
    <h3>Chapter Management</h3>
    <div class="form-inline my-2 my-lg-0">
      <button type="button" class="btn btn-primary mr-3">
        <a
          class="text-white"
          href="/admin/subject/chapter/new?sub_id={{ sub.id }}"
        >
          Add New Chapter
          <span aria-hidden="true">&plus;</span>
        </a>
      </button>
      <input
        class="form-control mt-2 mt-sm-0 mr-sm-2"
        type="search"
        id="chapterInput"
        placeholder="Search by Chapter Name"
        aria-label="Search"
      />
      <button
        onclick="searchByChapter('{{skip}}', '{{take}}')"
        class="btn btn-dark my-2 my-sm-0"
      >
        <a>Search</a>
      </button>
    </div>
  </div>
  <!-- flash message -->
  {% with messages = get_flashed_messages(with_categories=True) %}{% if messages
  %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6">
        {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}{% endwith %}
  <section class="mt-3">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Number of pages</th>
            <th scope="col">Chapter number</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for chpt in chapters %}
          <tr class="pointer">
            <th scope="row">{{ loop.index+skip }}</th>
            <td class="link">
              <a>{{ chpt.code }}</a>
            </td>
            <td>{{ chpt.name }}</td>
            <td>{{ chpt.description }}</td>
            <td>{{ chpt.pages }}</td>
            <td>{{ chpt.chapter_number }}</td>
            <td>{{ chpt.created_at }}</td>
            <td>{{ chpt.updated_at }}</td>
            <td>
              <button
                onclick="window.location.href='/admin/subject/chapter/update?chap_id={{ chpt.id }}&sub_id={{ sub.id }}'"
                type="button"
                class="btn btn-secondary mr-3 mb-3"
              >
                Update
              </button>
              <button type="button" class="btn btn-danger mr-3">
                <a
                  href="/admin/subject/chapter/delete?sub_id={{ sub.id }}&chapter_id={{ chpt.id }}"
                  class="text-white"
                  >Delete</a
                >
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              href="/admin/subject/view?sub_id={{ sub.id }}&skip={{ (skip - take) if skip > 0 else 0 }}&take={{ take }}"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
              <span
                >{% if skip > 0 %}Previous{% else %}Start Page{% endif %}</span
              >
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="/admin/subject/view?sub_id={{ sub.id }}&skip={{ ( ((skip//take)+1)*take if ((skip|int+take) < total_rows) else None  ) if ((skip|int+take) < total_rows) else 0 }}&take={{ take }}"
              aria-label="Next"
            >
              <span
                >{% if ((skip|int + take) < total_rows) %}Next{% else %}Go back
                to Start Page{% endif %}</span
              >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="d-flex align-items-center">
        <p class="mr-4">Total Rows: {{ total_rows }}</p>
        <p>
          Current Page: {% if skip and take %} {{ ((skip|int)//take)+1 }} {%
          else %}1{% endif %}
        </p>
      </div>
    </div>
  </section>
</section>
{% endblock %}
