{% extends "base.html" %}{% block title %}View Chapter{% endblock %} {% block
content %}{% include "admin/admin_wrapper.html" %}
<section class="p-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
      <li class="breadcrumb-item">
        <a href="/admin/subject/?skip=0&take=25">Subjects List</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a href="/admin/subject/view?sub_id={{ sub.id }}&take=25&skip=0"
          >{% if sub %}{{ sub.code }}{% else %} {% endif %}
        </a>
      </li>
      <li class="breadcrumb-item">
        {% if chap %}{{ chap.code }}{% else %} {% endif %}
      </li>
    </ol>
  </nav>
  <div class="border p-3">
    <div class="row">
      <p class="col-12 col-sm-6">
        <strong>Subject Name:</strong> {% if sub %}{{ sub.name }}{% else %}N/a{%
        endif %}
      </p>
      <p class="col-12 col-sm-6">
        <strong>Subject Description:</strong> {% if sub %}{{ sub.description
        }}{% else %}N/a{% endif %}
      </p>
    </div>
    <div class="row">
      <p class="col-12 col-sm-6">
        <strong>Subject Code:</strong> {% if sub %}{{ sub.code }}{% else %}N/a{%
        endif %}
      </p>
      <p class="col-12 col-sm-6">
        <strong>Last Updated At:</strong> {% if sub %}{{ sub.updated_at }}{%
        else %}N/a{% endif %}
      </p>
    </div>
    <div class="row">
      <p class="col-12 col-sm-6">
        <strong>Created At:</strong> {% if sub %}{{ sub.created_at }}{% else
        %}N/a{% endif %}
      </p>
    </div>
  </div>
  <div class="border mt-3 p-3">
    <div class="row">
      <p class="col-12 col-sm-6">
        <strong>Chapter Name:</strong> {% if chap %}{{ chap.name }}{% else
        %}N/a{% endif %}
      </p>
      <p class="col-12 col-sm-6">
        <strong>Chapter Description:</strong> {% if chap %}{{ chap.description
        }}{% else %}N/a{% endif %}
      </p>
    </div>
    <div class="row">
      <p class="col-12 col-sm-6">
        <strong>Chapter Code:</strong> {% if chap %}{{ chap.code }}{% else
        %}N/a{% endif %}
      </p>
      <p class="col-12 col-sm-6">
        <strong>Number of Pages:</strong> {% if chap %}{{ chap.pages }}{% else
        %}N/a{% endif %}
      </p>
    </div>
    <div class="row">
      <p class="col-12 col-sm-6">
        <strong>Chapter Number:</strong> {% if chap %}{{ chap.chapter_number
        }}{% else %}N/a{% endif %}
      </p>
      <p class="col-12 col-sm-6">
        <strong>Last Updated At:</strong> {% if chap %}{{ chap.updated_at }}{%
        else %}N/a{% endif %}
      </p>
    </div>
    <div class="row">
      <p class="col-12 col-sm-6">
        <strong>Created At:</strong> {% if chap %}{{ chap.created_at }}{% else
        %}N/a{% endif %}
      </p>
    </div>
  </div>
</section>
{% endblock %}
