{% extends "base.html" %} {% block title %}Subject Management{% endblock %} {%
block content %} {% include "admin_wrapper.html" %}
<section class="min-vh-100 p-4">
  <div class="d-flex flex-wrap justify-content-between">
    <h3>Subject Management</h3>
    <div class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        id="subjectInput"
        placeholder="Search by Subject Name"
        aria-label="Search"
      />
      <button
        onclick="searchBySubject('{{skip}}', '{{take}}')"
        class="btn btn-dark my-2 my-sm-0"
      >
        <a>Search</a>
      </button>
    </div>
  </div>
  <!-- flash message -->
  {% with messages = get_flashed_messages(with_categories=True) %} {% if
  messages %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6">
        {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}{% endwith %}
  <section class="mt-3">
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Course Code</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Course Credit</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
          </tr>
        </thead>
        <tbody>
          {% for sub in rows %}
          <tr class="pointer">
            <th scope="row">{{ loop.index+skip }}</th>
            <td class="link">{{ sub.code }}</td>
            <td>{{ sub.name }}</td>
            <td>{{ sub.description }}</td>
            <td>{{ sub.credit }}</td>
            <td>{{ sub.created_at }}</td>
            <td>{{ sub.updated_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              href="/admin/subject?skip={{ (skip - take) if skip > 0 else 0 }}&take={{ take }}"
              aria-label="Previous"
            >
              <span aria-hidden="true">&laquo;</span>
              <span
                >{% if skip > 0 %}Previous{% else %}Start Page{% endif %}</span
              >
            </a>
          </li>
          <li class="page-item">
            <a
              class="page-link"
              href="/admin/subject?skip={{ nxt_skip if has_next else 0 }}&take={{ take }}"
              aria-label="Next"
            >
              <span
                >{% if has_next %}Next{% else %}Go back to Start Page{% endif
                %}</span
              >
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="d-flex align-items-center">
        <p class="mr-4">Total Rows: {{ total_rows }}</p>
        <p>Current Page: {{ current_page|int + 1 }}</p>
      </div>
    </div>
  </section>
</section>
<script>
  const url = window.location.href;
  const split = url.split("?");
  let params = split.length > 1 ? split[1] : "";
  params = params.split("&");
  let where = params.filter((p) => p.includes("where"));
  where = where.length > 0 ? where[0] : "";
  where = where.split("=");
  let obj = where.length > 1 ? where[1] : "";
  obj = JSON.parse(decodeURIComponent(obj));
  if ("name" in obj) {
    document.getElementById("subjectInput").value = obj["name"];
  }
  function searchBySubject(skip, take) {
    var searchTerm = document.getElementById("subjectInput").value;
    var queryParams = "?skip=" + skip + "&take=" + take;
    if (searchTerm) {
      queryParams +=
        "&where=" + encodeURIComponent(JSON.stringify({ name: searchTerm }));
      window.location.href = "/admin/subject" + queryParams;
    } else {
      window.location.href = "/admin/subject" + queryParams;
    }
  }
</script>
{% endblock %}
