{% extends "base.html" %} {% block title %}Login to Quiz Time{% endblock %} {%
block content %}
<section
  id="body"
  class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
>
  <img alt="logo" src="/static/images/logo.png" class="logo" />

  <!-- Flash messages -->
  {% with messages = get_flashed_messages(with_categories=True) %} {% if
  messages %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6">
        {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %} {% endwith %}

  <!-- login form -->
  <form method="post" class="container p-3" action="/auth/login">
    <div class="row">
      <div class="form-group mx-auto col-12 col-sm-6">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
    </div>
    <div class="row">
      <div class="form-group mx-auto col-12 col-sm-6">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          name="password"
          placeholder="Password"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group mx-auto col-12 col-sm-6">
        <button type="submit" class="w-100 button btn btn-primary">
          Submit
        </button>
        <small id="emailHelp" class="form-text text-muted"
          >Don't have an Account?
          <a class="anchor" href="/auth/signup">Create now</a></small
        >
      </div>
    </div>
  </form>
</section>
{% endblock %}
