{% extends "base.html" %} {% block title %}User Page{% endblock %} {% block
content %} {% include "admin/admin_wrapper.html" %}
<section class="p-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
      <li class="breadcrumb-item">
        <a href="/admin/users?skip=0&take=25">Top Scorrers</a>
      </li>
      <li class="breadcrumb-item">
        <a>User Dashboard</a>
      </li>
    </ol>
  </nav>
  <!-- flash message -->
  {% with messages = get_flashed_messages(with_categories=True) %} {% if
  messages %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6">
        {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}{% endwith %}
  <h4>User Dashboard</h4>
  <div class="chart-groups">
    <div class="chart-container">
      <h4>Score Performance</h4>
      <canvas id="performanceChart"></canvas>
    </div>
    <div class="chart-container">
      <h4>Score Distribution</h4>
      <canvas id="scoreChart"></canvas>
    </div>
    <div class="chart-container">
      <h4>Subject Performance</h4>
      <canvas id="subjectPerformanceChart"></canvas>
    </div>
    <div class="chart-container">
      <h4>Chapter Performance</h4>
      <canvas id="chapterPerformanceChart"></canvas>
    </div>
  </div>
</section>
{% endblock %} {% block scripts %}
<script>
  var ctx = document.getElementById("performanceChart").getContext("2d");
  var performanceData = JSON.parse(`{{ performance_data|tojson }}`);

  new Chart(ctx, {
    type: "line",
    data: {
      labels: performanceData.labels,
      datasets: [
        {
          label: "Total Score Over Time",
          data: performanceData.scores,
          borderColor: "red",
          backgroundColor: "rgba(255, 0, 0, 0.1)",
          borderWidth: 2,
          fill: true,
          tension: 0.3,
        },
      ],
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: "Average Score Percentage Over Time",
        },
      },
    },
  });

  var ctx2 = document.getElementById("scoreChart").getContext("2d");
  var scoreData = JSON.parse(`{{ score_bins|tojson }}`);

  new Chart(ctx2, {
    type: "doughnut",
    data: {
      labels: Object.keys(scoreData),
      datasets: [
        {
          label: "Score Distribution",
          data: Object.values(scoreData),
          backgroundColor: [
            "#FF6384",
            "#36A2EB",
            "#FFCE56",
            "#4BC0C0",
            "#9966FF",
          ],
        },
      ],
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: "Score Distribution (Percentage Slabs)",
        },
      },
    },
  });

  var ctx3 = document
    .getElementById("subjectPerformanceChart")
    .getContext("2d");
  var subjectPerformanceData = JSON.parse(
    `{{ subject_performance_data|tojson }}`
  );

  new Chart(ctx3, {
    type: "line",
    data: {
      labels: subjectPerformanceData.labels,
      datasets: [
        {
          label: "Subject Performance",
          data: subjectPerformanceData.scores,
          borderColor: "green",
          backgroundColor: "rgba(0, 255, 0, 0.1)",
          borderWidth: 2,
          fill: true,
          tension: 0.3,
        },
      ],
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: "Average Score Percentage in Subjects",
        },
      },
    },
  });

  var ctx4 = document
    .getElementById("chapterPerformanceChart")
    .getContext("2d");
  var chapterPerformanceData = JSON.parse(
    `{{ chapter_performance_data|tojson }}`
  );

  new Chart(ctx4, {
    type: "line",
    data: {
      labels: chapterPerformanceData.labels,
      datasets: [
        {
          label: "Chapter Performance",
          data: chapterPerformanceData.scores,
          borderColor: "blue",
          backgroundColor: "rgba(0, 0, 255, 0.1)",
          borderWidth: 2,
          fill: true,
          tension: 0.3,
        },
      ],
    },
    options: {
      plugins: {
        title: {
          display: true,
          text: "Average Score Percentage in Chapters",
        },
      },
    },
  });
</script>
{% endblock %}
